<div class="container py-5 bg-light">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Име</th>
                <th>Хотел</th>
                <th>Почеток</th>
                <th>Крај</th>
                <th>Акции</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contract of contracts">
                <td [ngClass]="getDateClass(contract.startDate, contract.endDate)" >{{ contract.contractNumber }}</td>
                <td>{{ contract.holderName }}</td>
                <td>{{ contract.hotelName }}</td>
                <td>{{ contract.startDate.toLocaleDateString("en-gb") }}</td>
                <td>{{ contract.endDate.toLocaleDateString("en-gb") }}</td>
                <td>
                    <button mat-mini-fab color="primary" (click)="generateDocument(contract.id)"><mat-icon>print</mat-icon></button>
                    <button mat-mini-fab color="secondary" class="ms-2" (click)="archiveContract(contract.id)"><mat-icon>work</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>