################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/TravelAgency/wwwroot/Generated/Contracts
/server/TravelAgency/wwwroot/Generated/Invoices
