<div class="container p-lg-5 pt-2">
    <div class="card">
        <div class="card-header">
            <h2 class="display-5">Регистрација на нов корисник</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()" class="p-md-3">
                <div class="row">
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="firstName">Име</mat-label>
                            <input id="firstName" type="text" matInput required formControlName="firstName" />
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="lastName">Презиме</mat-label>
                            <input id="lastName" type="text" matInput required formControlName="lastName" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="email">E-mail адреса</mat-label>
                            <input id="email" type="email" matInput required formControlName="email" />
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="username">Корисничко име</mat-label>
                            <input id="username" type="text" matInput required formControlName="username" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="displayName">Име на организација</mat-label>
                            <input id="displayName" type="text" matInput required formControlName="displayName" />
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="bankAccountNumber">Жиро сметка</mat-label>
                            <input id="bankAccountNumber" type="text" matInput required formControlName="bankAccountNumber" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="password">Лозинка</mat-label>
                            <input id="password" type="password" matInput required formControlName="password" />
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label for="passwordRe">Повторена лозинка</mat-label>
                            <input id="passwordRe" type="password" matInput required formControlName="passwordRepeated" />
                        </mat-form-field>
                        <div *ngIf="!matchingPassword" class="text-danger">
                            <p>Лозинката не е иста</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-4">
                        <button type="submit" class="w-100" mat-raised-button color="primary" [disabled]="!registerForm.valid">Регистрирај се</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <p class="card-text">
                Ако сте веќе регистрирани притиснете <a routerLink="/login">тука</a> за да се најавите.
            </p>
        </div>
    </div>
</div>
