<form [formGroup]="editForm" (ngSubmit)="submit()">
    <div class="card" [ngClass]="{'border-danger': markForDelete.value}">
        <div class="card-header">
            <h2 class="display-5" [ngClass]="{'text-danger' : markForDelete.value}">{{ markForDelete.value? 'Избриши патник' : 'Промени патник' }}</h2>
        </div>
        <div *ngIf="!markForDelete.value; else deleteModel" class="card-body">
            <div class="row">
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Име</mat-label>
                        <input type="text" matInput formControlName="firstName">
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Презиме</mat-label>
                        <input type="text" matInput formControlName="lastName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Број на пасош</mat-label>
                        <input type="text" matInput formControlName="passportNumber">
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Адреса</mat-label>
                        <input type="text" matInput formControlName="address">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Телефонски број</mat-label>
                        <input type="text" matInput formControlName="phoneNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field class="w-100" #expireDate>
                        <mat-label>Дата на истекување на пасош</mat-label>
                        <input matInput [matDatepicker]="expirePicker" required formControlName="passportExpirationDate">
                        <mat-hint class="small">DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="expirePicker"></mat-datepicker-toggle>
                        <mat-datepicker #expirePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md">
                    <mat-form-field class="w-100">
                        <mat-label>Дата на раѓање</mat-label>
                        <input matInput [matDatepicker]="birthDatePicker" required formControlName="birthDate">
                        <mat-hint class="small">YYYY-MM-DD</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthDatePicker startView="multi-year"></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Забелешка</mat-label>
                        <textarea matInput rows="3" formControlName="comment"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <mat-slide-toggle color="warn" [formControl]="markForDelete">
                    Избриши патник
                </mat-slide-toggle>
                <button *ngIf="!markForDelete.value" type="submit" mat-raised-button color="primary" [disabled]="editForm.invalid"><mat-icon>save</mat-icon> Зачувај</button>
                <button *ngIf="markForDelete.value" mat-raised-button type="button" color="warn" (click)="deletePassenger()"><mat-icon>delete</mat-icon> Избриши</button>
            </div>
        </div>
    </div>
</form>

<ng-template #deleteModel>
    <div class="card-body">
        <div class="row">
            <div class="col-md">
                <h4 class="display-6 text-danger text-decoration-line-through">{{ data.firstName }} {{ data.lastName }}</h4>
            </div>
            <div class="col-md">
                <h4 class="display-6 text-danger text-decoration-line-through">{{ data.passportNumber }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p class="text-danger text-decoration-line-through">{{ data.email }}</p>
                <p class="text-danger text-decoration-line-through">{{ data.phoneNumber }}</p>
            </div>
            <div class="col-md">
                <p class="text-danger text-decoration-line-through">{{ data.address }}</p>
            </div>
        </div>
    </div>
</ng-template>