<div class="card">
    <div class="card-body">
        <button
        *ngIf="contract"
        mat-raised-button 
        color="primary"
        printTitle="Договор"
        ngxPrint
        printSectionId="print-contract"
        styleSheetFile="/assets/printing/print-style.css"
        class="me-3">Печати договор</button>
        
        <button mat-raised-button color="warn" (click)="close()">Затвори</button>
    </div>
</div>
<div id="print-contract">
    <div class="print-header">
        <div>
            <h5>Договор за патување</h5>
            <h4 class="border-bottom">{{ contract.contractNumber }}</h4>
        </div>
        <div class="contract-image">
            <img [src]="image" class="image-fluid" width="100px" alt="" />
        </div>
        <div class="header-info">
            <h3>{{ contract.user.displayName }}</h3>
            <p>{{ contract.user.address }}</p>
            <p>{{ contract.user.phoneNumber }}</p>
            <p>{{ contract.user.email }}</p>
        </div>
    </div>
    <hr />
    <div class="print-passengers">
        <small>Податоци за патници</small>
        <table class="passenger-table">
            <thead>
                <tr>
                    <th>Име и презиме</th>
                    <th>Број на пасош</th>
                    <th>Датум на раѓање</th>
                    <th>Телефон</th>
                    <th>Адреса</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let passenger of contract.passengers">
                    <td>{{ passenger.firstName }} {{ passenger.lastName }}</td>
                    <td>{{ passenger.passportNumber }}</td>
                    <td>{{ passenger.birthDate.toLocaleDateString("en-gb") }}</td>
                    <td>{{ passenger.phoneNumber }}</td>
                    <td>{{ passenger.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div class="details-container">
        <small>Податоци за патување</small>
        <div class="plan-details">
            <div>
                <p>Име на престој: <b style="display: inline;">{{ contract.plan.hotelName }}</b></p>
                <p>Локација: {{ contract.plan.location }}</p>
                <p>Држава: {{ contract.plan.country }}</p>
            </div>
            <div>
                <p>Тип на соба: {{ contract.roomType }}</p>
                <p>Тип на услуга: {{ contract.serviceType }}</p>
                <p>Тип на превоз: {{ contract.transportationType }}</p>
                <p>Датум на влез: {{ contract.startDate.toLocaleDateString("en-gb") }}<br/>Датум на излез: {{ contract.endDate.toLocaleDateString("en-gb") }} </p>
            </div>
        </div>
    </div>
    <small>Податоци за уплата</small>
    <div class="payment-info">
        <div>
            <p>Вкупно: {{ contract.totalPrice }}ден.</p>
            <p>Уплатено: {{ contract.amountPaid }}ден.</p>
            <hr>
            <p><b>За доплата: {{ (contract.totalPrice - contract.amountPaid) }}ден.</b></p>
        </div>
        <div>
            <small>Забелешки</small>
            <div *ngFor="let passenger of contract.passengers"><p *ngIf="passenger.comment" class="border-bottom">{{ passenger.comment }}</p></div>
        </div>
    </div>
    <div style="margin-top: 3px;">
        <small>Плаќањето е исклучиво во денарска противвредност по куповниот курс на деловна банка а откуп на девизи од девизен пазар (продажен курс према организаторот)</small>
        <div class="terms">
            <small style="text-align: justify;">Општите услови на патување се составен дел од Договорот. Изјавувам дека сум запознат со програмата и со општите услови на патување и дека во целост ги прифаќам. Изјавувам дека се согласувам нашите лични податоци агенцијата да ги корсити за потребите на аранжманот. Изјавувам дека сум запознат со условите од полисата за осигуривање од ризик на откажување на договорено туристичко патување и дека истата не сакам да ја уплатам.</small>
            <div class="user-signature-field">
                <p>Потпис на патникот _______________________</p>
            </div>
        </div>
    </div>
    <div class="contract-footer">
        <div><p>Потпис на вработен _______________________</p></div>
        <div><p>{{contract.contractDate.toLocaleDateString("en-gb")}} <span>{{ contract.contractLocation }}</span></p></div>
    </div>
</div>