<header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #004d40;">
        <div class="container">
          <a class="navbar-brand" routerLink="/home"><h4>Одисеја<i class="bi bi-signpost-2-fill"></i>Менаџер</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home">Дома</a>
              </li>
              <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Статистика</a>
              </li>
              <li *ngIf="isLoggedIn" class="nav-item">
                <a class="nav-link" routerLink="/agencies">Агенции</a>
              </li>
              <li *ngIf="isLoggedIn" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Договори
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" routerLink="contract/active">Активни договори</a></li>
                  <li><a class="dropdown-item" routerLink="contract/archive">Архивирани договори</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item d-flex justify-content-around" routerLink="contract/create"><mat-icon>add</mat-icon> Нов договор</a></li>
                </ul>
              </li>
            </ul>
            <a *ngIf="!isLoggedIn" mat-mini-fab color="primary" matTooltip="Најави се" routerLink="/login">
                <mat-icon>person</mat-icon>
            </a>
            <button *ngIf="isLoggedIn" mat-raised-button color="primary" matTooltip="Профил" routerLink="/profile">
              <img [src]="imageLink" class="img-fluid rounded-circle" width="30px" alt=""> {{username}}
            </button>
            <button *ngIf="isLoggedIn" mat-icon-button color="warn" class="ms-2" matTooltip="Одлогирај се" (click)="logOut()"><mat-icon>exit_to_app</mat-icon></button>
          </div>
        </div>
      </nav>
</header>