<div class="card">
    <div class="card-body">
        <button
        *ngIf="contract"
        mat-raised-button 
        color="primary"
        printTitle="Договор"
        ngxPrint
        printSectionId="print-contract"
        styleSheetFile="/assets/printing/print-style.css"
        class="me-3">Печати договор</button>
        
        <button mat-raised-button color="warn" (click)="close()">Затвори</button>
    </div>
</div>
<div id="print-contract">
    <div class="print-header">
        <div class="contract-image">
            <img [src]="image" class="image-fluid" width="150px" alt="" />
        </div>
        <div class="header-info">
            <h3>{{ contract.user.displayName }}</h3>
            <p>{{ contract.user.address }}</p>
            <p>{{ contract.user.phoneNumber }}</p>
            <p>{{ contract.user.email }}</p>
        </div>
    </div>
    <div class="contract-number">
        <h5>Договор за патување br. {{ contract.contractNumber }}</h5>
    </div>
    <div class="details-container">
        <div style="background-color: #abf1ff;"><small>Податоци за патување</small></div>
        <div class="plan-details">
            <div class="plan-double">
                <p>Земја</p>
                <p>{{ contract.plan.country }}</p>
            </div>
            <div class="plan-double">
                <p>Место</p>
                <p>{{ contract.plan.location }}</p>
            </div>
            <div class="plan-double">
                <p>Сместивење/Хотел</p>
                <p>{{ contract.plan.hotelName }}</p>
            </div>
            <div class="plan-double">
                <p>Тип на соба</p>
                <p>{{ contract.roomType }}</p>
            </div>
            <div class="plan-double">
                <p>Услуга</p>
                <p>{{ contract.serviceType }}</p>
            </div>
            <div class="plan-single">
                <p>Од</p>
                <p>{{ contract.startDate.toLocaleDateString("en-gb") }}</p>
            </div>
            <div class="plan-single">
                <p>До</p>
                <p>{{ contract.endDate.toLocaleDateString("en-gb") }}</p>
            </div>
            <div class="plan-single">
                <p>Денови</p>
                <p>{{ getDaysDifference(contract.startDate, contract.endDate) }}</p>
            </div>
            <div class="plan-single">
                <p>Ноќи</p>
                <p>{{  getDaysDifference(contract.startDate, contract.endDate) - 1 }}</p>
            </div>
            <div class="plan-single">
                <p>Превоз</p>
                <p>{{ contract.transportationType }}</p>
            </div>
            <div class="plan-single">
                <p>Влез</p>
                <p> {{ contract.startDate.toLocaleDateString("en-gb") }} </p>
            </div>
            <div class="plan-double">
                <p>Точен датум на поаѓање</p>
                <p> {{ contract.departureTime.toLocaleString("en-gb") }} </p>
            </div>
            <div class="plan-double">
                <p>Осигурување</p>
                <p> </p>
            </div>
            <div class="plan-quad">
                <p>Напомена</p>
                <p> </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="print-passengers">
        <div style="background-color: #abf1ff;"><small>Податоци за патници</small></div>
        <table class="passenger-table">
            <thead>
                <tr>
                    <th>Име и презиме</th>
                    <th>Број на пасош</th>
                    <th>Датум на раѓање</th>
                    <th>Телефон</th>
                    <th>Адреса</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let passenger of contract.passengers">
                    <td>{{ passenger.firstName }} {{ passenger.lastName }}</td>
                    <td>{{ passenger.passportNumber }}</td>
                    <td>{{ passenger.birthDate.toLocaleDateString("en-gb") }}</td>
                    <td>{{ passenger.phoneNumber }}</td>
                    <td>{{ passenger.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr />
    <div style="background-color: #abf1ff;"><small>Податоци за уплата</small></div>
    <div class="payment-info">
        <div>
            <p>Начин на плаќање: {{ paymentMethods[contract.paymentMethod] }}</p>
            <p>Вкупно: {{ convertCurrency(contract.totalPrice) }}ден.</p>
            <p>Уплатено: {{ convertCurrency(contract.amountPaid) }}ден.</p>
            <hr>
            <p><b>За доплата: {{ convertCurrency(contract.totalPrice - contract.amountPaid) }}ден.</b></p>
        </div>
        <div>
            <small>Забелешки</small>
            <div *ngFor="let passenger of contract.passengers"><p *ngIf="passenger.comment" class="border-bottom">{{ passenger.comment }}</p></div>
        </div>
    </div>
    <div style="margin-top: 3px;">
        <div class="terms">
            <small style="font-size: 12px;">Плаќањето е исклучиво во денарска противвредност по куповниот курс на деловна банка а откуп на девизи од девизен пазар (продажен курс према организаторот)</small>
            <hr>
            <small style="text-align: justify;">Општите услови на патување се составен дел од Договорот. Изјавувам дека сум запознат со програмата и со општите услови на патување и дека во целост ги прифаќам. Изјавувам дека се согласувам нашите лични податоци агенцијата да ги корсити за потребите на аранжманот. Изјавувам дека сум запознат со условите од полисата за осигуривање од ризик на откажување на договорено туристичко патување и дека истата не сакам да ја уплатам.</small>
            <div class="user-signature-field">
                <p>Потпис на патникот _______________________</p>
            </div>
        </div>
    </div>
    <div class="contract-footer">
        <div><p>Потпис на вработен _______________________</p></div>
        <div><p>{{contract.contractDate.toLocaleDateString("en-gb")}} <span>{{ contract.contractLocation }}</span></p></div>
    </div>
</div>