<div class="container">
    <div *ngIf="user" class="pt-lg-5 pt-2 px-md-3 pb-5">
        <div class="card">
            <div class="card-header bg-green">
                <h2 class="display-5">{{user.firstName}} {{user.lastName}}</h2>
            </div>
            <div class="card-body">
                <div class="pb-3">
                    <div class="d-flex">
                        <div><img class="img-thumbnail" width="300px" [src]="user.imageLink" [alt]="user.username + ' image'"></div>
                        <h3 class="display-3 ms-5">{{ user.displayName }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 d-grid p-2">
                        <mat-form-field appearance="outline" color="warn">
                            <mat-label>Корисничко име</mat-label>
                            <input matInput type="text" name="username" id="username" [value]="user.username" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 d-grid p-2">
                        <mat-form-field appearance="outline" color="warn">
                            <mat-label>Е-маил адреса</mat-label>
                            <input matInput type="email" name="email" id="email" [value]="user.email" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 d-grid p-2">
                        <mat-form-field>
                            <mat-label>Име на организација</mat-label>
                            <input matInput type="text" name="displayName" id="displayName" [(ngModel)]="updateRequest.displayName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md d-grid p-2">
                        <mat-form-field>
                            <mat-label>Име</mat-label>
                            <input matInput type="text" name="firstName" id="firstName" [(ngModel)]="updateRequest.firstName">
                        </mat-form-field>
                    </div>
                    <div class="col-md d-grid p-2">
                        <mat-form-field>
                            <mat-label>Презиме</mat-label>
                            <input matInput type="text" name="lastName" id="lastName" [(ngModel)]="updateRequest.lastName">
                        </mat-form-field>
                    </div>
                    <div class="col-md d-grid p-2">
                        <mat-form-field>
                            <mat-label>Телефонски број</mat-label>
                            <input matInput type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="updateRequest.phoneNumber">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 d-grid p-2">
                        <mat-form-field>
                            <mat-label>Адреса</mat-label>
                            <input matInput type="text" name="address" id="address" [(ngModel)]="updateRequest.address">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 d-grid p-2">
                        <mat-form-field>
                            <mat-label>Број на жиро сметка</mat-label>
                            <input matInput type="text" name="bankAccountNumber" id="bankAccountNumber" [(ngModel)]="updateRequest.bankAccountNumber">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 p-2">
                        <button class="h-75" mat-raised-button (click)="uploadImageDialog()">Прикачи слика <mat-icon>cloud_upload</mat-icon></button>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between px-4">
                <button mat-raised-button color="accent" (click)="changePasswordDialog()">Промени лозинка</button>
                <button mat-raised-button color="primary" (click)="saveChangesClick()">Зачувај<mat-icon>save</mat-icon></button>
            </div>
        </div>
    </div>
</div>