<div class="pt-3">
    <form [formGroup]="createForm" (ngSubmit)="contractFormSubmit()">
        <div class="row">
            <mat-form-field>
                <mat-label>Favorite food</mat-label>
                <mat-select>
                  <mat-option *ngFor="let agency of agenciesList" [value]="agency.id">
                    {{ agency.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Емаил</mat-label>
                    <input type="email" matInput required formControlName="email" />
                </mat-form-field>
            </div>
            <div class="col-md">
                <mat-form-field class="w-100">
                    <mat-label>Телефонски Број</mat-label>
                    <input type="text" matInput required formControlName="phoneNumber" />
                </mat-form-field>
            </div>
        </div>
        <div formArrayName="passengers">
            <div *ngFor="let passengerGroup of passengerControls; let i = index" [formGroupName]="i">
                <hr />
                <div class="row">
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label>Име</mat-label>
                            <input type="text" matInput required formControlName="firstName" />
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label>Презиме</mat-label>
                            <input type="text" matInput required formControlName="lastName" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label>Број на пасош</mat-label>
                            <input type="text" matInput required formControlName="passportNumber" />
                        </mat-form-field>
                    </div>
                    <div class="col-md">
                        <mat-form-field class="w-100">
                            <mat-label>Дата на пасош</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="passportExpirationDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <button type="button" mat-mini-fab color="warn" matTooltip="Избриши патник" (click)="removePassenger(i)"><mat-icon>close</mat-icon></button>
            </div>
            <button type="button" mat-raised-button color="primary" (click)="addPassenger()">Додади патник</button>
        </div>
    </form>
</div>